[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
anyio = "==3.5.0"
pydantic = "*"
tortoise-orm = "==0.19.1"
asyncpg = "*"
aerich = "*"
pytest = "*"
requests = "*"
starlette = "==0.19.1"
pytest-cov = "*"
flake8 = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.10"
